.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

#loading {
    background: url('../../images/spinner.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}